* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.square {
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.square-white {
  width: 40px;
  height: 40px;

  border: solid 1px black;
  cursor: pointer;
}

.small-square {
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.rectangle {
  width: 60px;
  height: 30px;
  border-top: solid 1px #f5f5f5;
  border-bottom: solid 1px #f5f5f5;
}

.add-to-cart {
  background-color: #379cd6;
  height: 60px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
